:root {
  --primary: #7B26AD;
  --primary2: #BB79E2;
  --teal: #74A4BC;
  --teal2: #5089A5;
  --green: #09814A;
  --red: #AD2831;
  --dark: #272727;
  --dark2: #333333;
}

::selection {
  background-color: var(--primary);
  color: #fff;
}

::-moz-selection {
  background-color: var(--primary);
  color: #fff;
}

.btn-primary {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:disabled {
  background-color: var(--primary2);
  border: 1px solid var(--primary2);
}

.btn {
  border-radius: 1.5rem;
}

.radius-nj {
  border-radius: 1.5rem;
}

a {
  color: var(--teal);
  text-decoration: none;
}

a:hover {
  color: var(--teal2);
  text-decoration: underline;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.wrapper {
  min-height: 80vh;
  padding-bottom: 40px;
  padding-top: 10px;
}

.section {
  padding-block: 20px;
}

body {
  background-color: var(--dark);
  color: #f9f9f9;
  text-align: center;
}

#body {
  min-height: 80vh;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

.spinner {
  animation: spin infinite 5s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  background-color: var(--dark2);
  min-height: 15vh;
  padding-top: 30px;
  padding-bottom: 20px;
  color: #f9f9f9;
}

.footerLogos {
  color: #f2f3f5 !important;
  background: var(--dark);
  padding: 6px 8px;
  margin-right: 8px;
  font-size: 0.8rem;
  border-radius: 0.3rem;
}

.footerLogos:hover {
  background-color: white;
}

.footerLogos:hover > svg {
  color: var(--dark2) !important;
}

.footerList li {
  margin-bottom: 5px;
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/

#login .card-body {
  color: #282c34;
}

.inline-loading {
  color: var(--primary);
  display: inline-block;
}

/*--------------------------------------------------------------
# Movies
--------------------------------------------------------------*/

.mainBtn {
    color: var(--dark2);
    padding: 10px 20px;
    transition: 0.3s;
    font-size: 15px;
    border-radius: 1.5rem;
    background: #f2f3f5;
    border-color: #f2f3f5;
    width: fit-content;
    overflow: hidden;
    white-space: pre-wrap;
}

.mainBtn:hover,
.mainBtn:active,
.mainBtn:focus,
.mainBtn:disabled {
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.movieModal .modal-content {
  color: var(--dark2);
  border-radius: 1.5rem;
}